{% comment %}
    this: {
        id: string;
        lang: string;
        title: string;
    };
{% endcomment %}

<header class="header">
    <div class="header-content">
        {%- assign index = collections.all | where: 'data.id', 'index' | where: 'data.lang', colPage.data.lang -%}
        {%- assign indexUrl = index[0].url | url -%}
        <a
            class="banner"
            href="{{ indexUrl }}"
            rel="noreferrer"
            {%- if page.url == indexUrl -%}
                aria-current="page"
            {%- endif -%}
        >
            <img
                class="banner-icon"
                src="{{ 'icon.svg' | asset }}"
                alt=""
                aria-hidden="true"
            >
            <span class="banner-text">{{ site.title }}</span>
        </a>
        <div class="heading-container">
            <span class="heading-divider">></span>
            {%- assign colPage = page from collections.all -%}
            <h1 class="heading">{{ colPage.data.title }}</h1>
        </div>
    </div>
    <nav class="topnav">
        <ul class="menu">
            {%- assign topnav = collections.topnav | where: 'data.lang', colPage.data.lang -%}
            {%- for item in topnav -%}
                <li class="menu-item">
                    <a
                        class="menu-item-link"
                        href="{{ item.url | url }}"
                        rel="noreferrer"
                        {%- if page.url == item.url -%}
                            aria-current="page"
                        {%- endif -%}
                    >
                        {{- item.data.title -}}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
        <ul class="languages">
            {%- assign localized = collections.all | where: 'data.id', colPage.data.id -%}
            {%- for item in localized -%}
                {%- if item.data.lang != colPage.data.lang -%}
                    <li class="language-item">
                        <a
                            class="language-item-link"
                            href="{{ item.url | url }}"
                            rel="noreferrer"
                        >
                            <img
                                alt=""
                                class="language-icon"
                                src="{{ item.data.lang + '.svg' | downcase | asset }}"
                            >
                            {{- item.data.lang -}}
                        </a>
                    </li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    </nav>
</header>
