{% comment %}
    languages: {
        [string]: string;
    };
    this: {
        id: string;
        lang: string;
        title: string;
    };
{% endcomment %}

<header>
    {%- assign index = collections.all
        | where: 'data.id', 'index'
        | where: 'data.lang', colPage.data.lang
    -%}
    {%- assign indexUrl = index[0].url | url -%}
    <div class="heading-container">
        <div class="heading-item">
            <a
                class="banner-link"
                href="{{ indexUrl }}"
                rel="noreferrer"
                {%- if page.url == indexUrl -%}
                    aria-current="page"
                {%- endif -%}
            >
                <span class="heading-divider">></span>
                <span class="banner-text">{{ site.title }}</span>
            </a>
        </div>
        <div class="heading-item">
            <span class="heading-divider">></span>
            {%- assign colPage = page from collections.all -%}
            <h1 class="heading">{{ colPage.data.title }}</h1>
        </div>
    </div>
    <nav class="topnav">
        <ul class="menu page-links">
            {%- assign topnav = collections.topnav
                | where: 'data.lang', colPage.data.lang
                | sortBy: 'id'
            -%}
            {%- for item in topnav -%}
                <li class="menu-item">
                    <a
                        class="menu-item-link"
                        href="{{ item.url | url }}"
                        rel="noreferrer"
                        {%- if page.url == item.url -%}
                            aria-current="page"
                        {%- endif -%}
                    >
                        {{- item.data.title -}}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
        <ul class="languages">
            {%- assign localized = collections.all
                | where: 'data.id', colPage.data.id
                | sortBy: 'lang'
            -%}
            {%- for item in localized -%}
                {%- if item.data.lang != colPage.data.lang -%}
                    <li class="language-item" lang="{{ item.data.lang }}">
                        <a
                            class="language-item-link"
                            href="{{ item.url | url }}"
                            rel="noreferrer"
                        >
                            <img
                                alt=""
                                class="language-icon"
                                src="{{ item.data.lang + '.svg' | asset }}"
                                width="20"
                                height="12"
                            >
                            {{- languages[item.data.lang] -}}
                        </a>
                    </li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    </nav>
</header>
