{% doc %}
    @param {string} defaultLanguage
    @param {object} site - { tite: string; }
    @param {object} this - { id: string; lang: string; title: string; description: string; }
{% enddoc %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {%- assign colPage = page from collections.all -%}
    <title>
        {{ colPage.data.title }}
        -
        {{ site.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page inCol collections.noindex -%}
        <meta name="robots" content="noindex,noarchive">
    {%- else -%}
        <meta name="description" content="{{ description }}">
    {%- endif -%}
    <link rel="preload" href="{{ 'adwaita-l.webp' | asset }}" as="image">
    <link rel="preload" href="{{ 'adwaita-d.webp' | asset }}" as="image">
    {%- assign localized = collections.all | where: 'data.id', colPage.data.id | sortBy: 'lang' -%}
    {%- for item in localized -%}
        {%- if item.data.lang != colPage.data.lang -%}
            <link
                rel="preload"
                href="{{ item.data.lang + '.svg' | asset }}"
                as="image"
            >
        {%- endif -%}
    {%- endfor -%}
    <link rel="stylesheet" href="{{ 'bundle.css' | asset }}">
    {% assign pageCss = colPage.data.id + '.css' -%}
    <link rel="stylesheet" href="{{ pageCss | asset }}">
    {% unless page inCol collections.noindex -%}
        <link rel="canonical" href="{{ page.url | url }}">
        {%- assign localized = collections.all | where: 'data.id', colPage.data.id | sortBy: 'lang' -%}
        {%- for item in localized -%}
            <link
                rel="alternate"
                hreflang="{{ item.data.lang }}"
                href="{{ item.url | absoluteUrl }}"
            >
            {%- if item.data.lang == defaultLanguage -%}
                <link
                    rel="alternate"
                    hreflang="x-default"
                    href="{{ item.url | absoluteUrl }}"
                >
            {%- endif -%}
        {%- endfor -%}
    {%- endunless -%}
    <link rel="icon" href="{{ '/favicon.svg' | url }}">
    <meta
        name="theme-color"
        media="(prefers-color-scheme: light)"
        content="#bfbfbf"
    >
    <meta
        name="theme-color"
        media="(prefers-color-scheme: dark)"
        content="#444"
    >
    <script src="{{ '/email.js' | asset }}"></script>
</head>
