<header class="header">
    {%- assign indexUrl = '/' | url -%}
    <a 
        class="banner"
        href="{{ indexUrl }}" 
        {%- if page.url == indexUrl -%}
            aria-current="page"
        {%- endif -%}
    >
        <img 
            class="banner-icon" 
            src="{{ 'icon.svg' | asset }}" 
            alt="" 
            aria-hidden="true"
        />
        <span class="banner-text">{{ site.title }}</span>
    </a>
    {%- assign colPage = page from collections.all -%}
    <h1 class="heading">{{ colPage.data.title }}</h1>
    <nav class="topnav">
        <ul class="menu">
            {%- for item in collections.topnav | where "lang", colPage.data.lang -%}
                    <li class="menu-item">
                        <a 
                            class="menu-item-link"
                            href="{{ item.url | url }}"
                            {%- if page.url == item.url -%}
                                aria-current="page"
                            {%- endif -%}
                        >
                            {{- item.data.title -}}
                        </a>
                    </li>
            {%- endfor -%}
        </ul>
    </nav>
</header>
