{% comment %}
    name: string;
    subtitle?: string;
    description: string;
    github?: string;
    maven?: string;
    skills: string[];
{% endcomment %}

<div class="project">
    <h3 class="project-name">{{ name }}</h3>
    {%- if subtitle -%}
        <span class="project-subtitle"> {{ subtitle }}</span>
    {%- endif -%}
    <p class="project-desc">{{ description }}</p>
    <div class="project-links">
        {%- if github -%}
            <a
                href="{{ github }}"
                class="project-link link"
                rel="noreferrer external"
            >
                <img
                    alt="Github"
                    class="project-link-icon"
                    src="{{ 'github.svg' | asset }}"
                    width="20"
                    height="20"
                >
            </a>
        {%- endif -%}
        {%- if maven -%}
            <a
                href="{{ maven }}"
                class="project-link link"
                rel="noreferrer external"
            >
                <img
                    alt="Maven Central"
                    class="project-link-icon"
                    src="{{ 'maven.svg' | asset }}"
                    width="20"
                    height="20"
                >
            </a>
        {%- endif -%}
    </div>
    <div class="project-skills">
        {% for skill in skills %}
            {% include 'badge', label: skill %}
        {% endfor %}
    </div>
</div>
