{% comment %}
    name: string;
    subtitle?: string;
    href?: string;
    description: string;
{% endcomment %}

<div class="project">
    <div class="project-header">
        {%- if href != '' -%}
            <a href="{{href}}" class="project-name" rel="noreferrer">
                {{- name -}}
            </a>
        {%- else -%}
            <span class="project-name">{{ name }}</span>
        {%- endif -%}
        {%- if subtitle != '' -%}
            <span class="project-subtitle"> {{ subtitle }}</span>
        {%- endif -%}
    </div>
    <p class="project-desc">{{ description }}</p>
</div>
