{% doc %}
    @param {string} name
    @param {string} [subtitle]
    @param {string} description
    @param {string} [github]
    @param {string} [maven]
    @param {object} skills - string[]
{% enddoc %}

<div class="project">
    <h2 class="project-name">{{ name }}</h2>
    {%- if subtitle -%}
        <span class="project-subtitle"> {{ subtitle }}</span>
    {%- endif -%}
    <p class="project-desc">{{ description }}</p>
    <div class="project-links">
        {%- if github -%}
            <a
                href="{{ github }}"
                class="project-link link"
                rel="noreferrer external"
            >
                <img
                    alt="Github"
                    class="project-link-icon"
                    src="{{ 'github.svg' | asset }}"
                    width="20"
                    height="20"
                >
            </a>
        {%- endif -%}
        {%- if maven -%}
            <a
                href="{{ maven }}"
                class="project-link link"
                rel="noreferrer external"
            >
                <img
                    alt="Maven Central"
                    class="project-link-icon"
                    src="{{ 'maven.svg' | asset }}"
                    width="20"
                    height="20"
                >
            </a>
        {%- endif -%}
    </div>
    <div class="project-skills">
        {% for skill in skills %}
            {% include 'badge', label: skill %}
        {% endfor %}
    </div>
</div>
