---
id: index
title: Lars Bodewig
description: Wilkommen auf meiner persönlichen Webseite. Mein Name ist Lars Bodewig. Ich bin als Anwendungsentwickler tätig.
lang: de-DE
---
<!doctype html>
<html lang="{{ lang }}">
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <div class="background-filter">
                <h2>Moin!</h2>
                <p>Wilkommen auf meiner persönlichen Webseite.</p>
                <p>
                    Mein Name ist Lars Bodewig. Ich bin meist als Backend- oder Full-Stack-Entwickler tätig,
                    interessiere mich aber auch für Pipeline Engineering, die Entwicklung von Software-Bibliotheken und
                    das Entwerfen und Parsen von Sprachen. Meine größten Stärken liegen in
                    {% include 'badge', label: 'Java' %}, {% include 'badge', label: 'TypeScript' %} und
                    {% include 'badge', label: 'Maven' %}. Mein
                    {%- assign portfolio = collections.all
                        | where: 'data.id', 'portfolio'
                        | where: 'data.lang', colPage.data.lang
                        | first
                    %}
                    <a
                        class="link"
                        href="{{ portfolio.url | url }}"
                        rel="noreferrer"
                    >
                        {{- portfolio.data.title -}}
                    </a>
                    gibt einen Überblick über ein paar erwähnenswerte Projekte, die diese Skills verwenden.
                </p>
                <p>
                    Mein kompletter Lebenslauf ist verfügbar auf
                    <a
                        class="link"
                        href="https://www.linkedin.com/in/larsbodewig/"
                        rel="noreferrer external"
                        >LinkedIn</a
                    >
                    (Anmeldung erforderlich).
                </p>
                <p>
                    Für Fragen und Angebote bin ich jederzeit über verschiedene Kanäle erreichbar:
                    {%- assign contact = collections.all
                        | where: 'data.id', 'contact'
                        | where: 'data.lang', colPage.data.lang
                        | first
                    %}
                    <a
                        class="link"
                        href="{{ contact.url | url }}"
                        rel="noreferrer"
                    >
                        {{- contact.data.title -}}</a
                    >.
                </p>
            </div>
        </main>

        {% include 'footer' %}
    </body>
</html>
